**/.DS_Store
**/.classpath
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose.y*ml
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml