# Rider
.idea/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS junk
.DS_Store
Thumbs.db

# Dotnet secrets
secrets.json

# Logs
*.log

# Docker files
*.pid
*.swp

# EF Core migrations snapshot
Migrations/*Snapshot.cs
